<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user.phone %>
  </p>

  <p>
    <strong>Passaword:</strong>
    <%= user.passaword %>
  </p>

  <p>
    <strong>Born at:</strong>
    <%= user.born_at %>
  </p>

</div>
