<div class="bg-secondary" >
  <h1 class="text-light" >Clientes</h1>
</div>

<table class="table table-light">
  <tr>
    <th scope="col">Nome</th>
    <th scope="col">Email</th>
    <th scope="col">Telefone</th>
    <th scope="col">Endereço</th>
    <th scope="col">Opções</th>
  </tr>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td> <%= client.name %> </td>
        <td> <%= client.email %> </td>
        <td> <%= client.phone %> </td>
        <td> <%= client.address %> </td>
        <td> <%= link_to "Editar", edit_client_path(client) %> | <%= link_to "Detalhes", show_orders_path(id: client.id) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-between">
  <section>
    <%= link_to "Novo cliente", new_client_path, class: "btn btn-outline-success" %>

    <%= link_to "Voltar", dashboard_path, class: "btn btn-outline-primary" %>
  </section>

  <%= will_paginate @clients, list_classes: %w(pagination justify-content-end) %>
</div>
